<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tone Detector</title>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index_td.js"></script>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon Redenes.png" />
  </head>
  <body>
    <img src="/img/Logo Redenes.png" class="card-img-top p-5">
    <form action="/config" method="post">
      <div class="container form-row m-5" id="container">
        Websocket Status: <span id="ws_status" class="ml-5"></span>
      </div>
      <div class="container form-row m-5" id="container">
        Streaming Status: <span id="stream_status" class="ml-5"></span>
      </div>
      <div class="container form-row m-5">
        Current Volume: <span id="volume" class="ml-5"></span> (dBm)
      </div>
      <div class="container form-row m-5" id="container">
        <label for="threshold">Threshold (dBm):
          <span id="cur_threshold" class="m-5">{{ threshold }}</span>
        </label>
        <input type="range" name="threshold" id="threshold" min="0" max="100" onchange="updateThreshold(this.value);" value="{{ threshold }}"/>
      </div>
      <div class="container form-row m-5" id="container">
        <label for="volumeAdjustment">Volume Adjustment (dBm):
          <span id="cur_volumeAdjustment" class="m-5">{{ volumeAdjustment }} dBm</span>
        </label>
        <input type="range" name="volumeAdjustment" id="volumeAdjustment" min="0" max="150" onchange="updateVolumeAdjustment(this.value);" value="{{ volumeAdjustment }}"/>
      </div>
      <div class="container form-row m-5" id="container">
        <label for="input_source">Input Source</label>
        <select class="form-control" name="source" id="input_source">
          <option {% if source=="USB Microphone" %} selected="selected"{% endif %}>USB Microphone</option>
          {% for s in streams %}
            <option {% if source==s %} selected="selected"{% endif %}>{{ s }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="container form-row m-5" id="container">
        <label for="speaker">Speaker</label>
        <select class="form-control" name="speaker" id="speaker">
          {% for s in ["Off", "On", "Detect", "Selected"] %}
            <option {% if speaker==s %} selected="selected"{% endif %}>{{ s }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="m-3 p-3 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </body>
</html>
